In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('https://datacenter.kidscount.org/rawdata.axd?ind=9977&loc=35', encoding = 'ISO-8859-1')
df

,LocationType,Location,Race,TimeFrame,DataFormat,Data
0,State,North Carolina,Non-Hispanic White,2013,Number,366.0
1,State,North Carolina,Non-Hispanic African American,2013,Number,360.0
2,State,North Carolina,Non-Hispanic American Indian,2013,Number,18.0
3,State,North Carolina,Other Non-Hispanic,2013,Number,24.0
4,State,North Carolina,Hispanic,2013,Number,64.0
...,...,...,...,...,...,...
6055,County,Yancey,Other Non-Hispanic,2017,Rate,0.0
6056,County,Yancey,Hispanic,2017,Number,0.0
6057,County,Yancey,Hispanic,2017,Rate,0.0
6058,County,Yancey,Total,2017,Number,0.0
6059,County,Yancey,Total,2017,Rate,0.0

In [3]:
df.to_csv('../Updates/STG_Health_Infant_Mortality.txt', sep = '\t')